.commerce-bank-dark-green-background {
  background-color: #006747;
}

.small-padding {
  padding-bottom: 20px;
}

.top-padding {
  padding-top: 15px;
}
.top-padding #cardTitle {
  padding-top: 20px;
}

.bottom-padding {
  padding-bottom: 15px;
}

.bottom-padding-t-form {
  padding-bottom: 20px;
}
.settings-button {
  display: inline;
  float: right;
  height: 5vmin;
}

.inline-header {
  display: inline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
